@{
    ViewData["Title"] = "AboutUs";
}

<h1>За нас</h1>
<div style="border: 3px solid #e0bfbf; padding:5px;">
    <img src="https://cestlavieclub.bg/wp-content/uploads/2021/05/6P045145-min.jpg" alt="picture" height="350px" style="float:right; padding:8px;text-align:justify;" />
    <p>
        Ресторант "Магичен Вкус", организира всяка седмица тематични музикални вечери с достоен за световните сцени ентъртеймънт.
      
       
    </p>
    <p>
        LIVE изпълнения всеки вторник, сряда, четвъртък, петък и събота. Акробати, магьосници и танцьори са нераезделна част от събитията ни, за да смаят всички наши гости. Не пропускайте да се присъедините!
    </p>
    <p>
        Заведенията не са просто място за хранене, а място където клиентите да се чувстват уютно, комфортно и да са щастливи. Място, в което те могат да се видят с приятели, да празнуват със своите семейства, да организират бизнес срещите си.
    </p>
    <p>
       По време на гостуването си в Магичен Вкус те ще бъдат посрещнати и настанени с усмивка, ще получат бързо качествена и вкусна храна и ще се потопят в атмосферата на ресторанта.
    </p>
    <p>

    </p>
</div>
<br />
<div style="border: 3px solid #e0bfbf; padding:5px;">
    <img src="https://cestlavieclub.bg/wp-content/uploads/2021/05/6P045128-min.jpg" alt="picture" height="300px" style="float:left; padding:8px;text-align:justify;" />
    <p>
        Концепцията на Ресторант "Магичен Вкус" е изградена върху пъстър микс от култури, епохи и цветове.
      
    </p>
    <p> 
        Кулинарните ни шедьоври ви очакват за пътешествие из световната кухня с цялото ѝ богатство от вкусове и аромати.
        </p>
    <p>Предлагаме разнообразно меню, което да удовлетвори вкусовете, както на почитателите на новите тенденции в храненето, така и на традиционалистите.</p>
    <p>Всички продукти, използвани от нас, са най-висококачествени и винаги пресни! Ние никога не използваме полуфабрикати, всяко ястие се приготвя на място от свежи съставки.</p>
    <p>
        Нашата мисия е да сътворим за вас безброй поводи за усмивки.
    </p>
</div>



