@model IEnumerable<Restaurant.Data.Meal>

@{
    ViewData["Title"] = "Index";
}




           
<div class="container">
    <div class="row d-flex justify-content-center">
        <div class="col-10 pb-5 text-center">
            <h1 class="quicksand-font header text-uppercase">Салати</h1>
            <hr>
        </div>
    </div>
    <div class="row d-flex justify-content-center">
        <div class="col-10 pb-5 text-center">
            <h4 class="text-center quicksand-font text-uppercase">Веджи</h4>
            <p class="text-uppercase">Свежи зелени салати, репички, краставици, хумус с печен бадем, тепенада от сушен домат и лимонов винегрет</p>
            <p class="text-uppercase">280 г   15.90 лв.</p>
            
        </div>
    </div>
    <div class="row d-flex justify-content-center">
        <div class="col-10 pb-5 text-center">
            <h4 class="text-center quicksand-font text-uppercase">Балканска</h4>
            <p class="text-uppercase">Сезонни домати, краставици, печена чушка, гриловани тиквички, плочка краве сирене</p>
            <p class="text-uppercase">380 г   16.90 лв.</p>
        </div>
    </div>
    <div class="row d-flex justify-content-center">
        <div class="col-10 pb-5 text-center">
            <h4 class="text-center quicksand-font text-uppercase">Бурата</h4>
            <p class="text-uppercase">Бурата, сезонни домати, маслинова паста и песто</p>
            <p class="text-uppercase">330 г   21.90 лв.</p>
        </div>
    </div>
    <div class="row d-flex justify-content-center">
        <div class="col-10 pb-5 text-center">
            <h4 class="text-center quicksand-font text-uppercase">Печена тиква</h4>
            <p class="text-uppercase">Печена тиква, микс от свежи салати, айсберг, сирене кесо манчего и цитрусов дресинг</p>
            <p class="text-uppercase">360 г   18.90 лв.</p>
        </div>
    </div>
    <div class="row d-flex justify-content-center">
        <div class="col-10 pb-5 text-center">
            <h4 class="text-center quicksand-font text-uppercase">Цезар със скариди</h4>
            <p class="text-uppercase">Свеж микс от зелени салати и айсбебрг, хрупкави скариди, крекер, пармезан/p>
            <p class="text-uppercase">360 г   23.90 лв.</p>
        </div>
    </div>
</div>
<div class="container">
    <div class="row d-flex justify-content-center">
        <div class="col-10 pb-5 text-center">
            <h1 class="quicksand-font header text-uppercase">Студени предястия</h1>
            <hr>
        </div>
    </div>
    <div class="row d-flex justify-content-center">
        <div class="col-10 pb-5 text-center">
            <h4 class="text-center quicksand-font text-uppercase">Хумус</h4>
            <p class="text-uppercase">150 г   8.90 лв.</p>
            
        </div>
    </div>
    <div class="row d-flex justify-content-center">
        <div class="col-10 pb-5 text-center">
            <h4 class="text-center quicksand-font text-uppercase">Патладжан с Филаделфия</h4>
            <p class="text-uppercase">150 г   8.90 лв.</p>
        </div>
    </div>
    <div class="row d-flex justify-content-center">
        <div class="col-10 pb-5 text-center">
            <h4 class="text-center quicksand-font text-uppercase">Маслини Гемлик</h4>
            <p class="text-uppercase">150 г   7.90 лв.</p>
        </div>
    </div>
    <div class="row d-flex justify-content-center">
        <div class="col-10 pb-5 text-center">
            <h4 class="text-center quicksand-font text-uppercase">Селекция испански деликатеси</h4>
            <p class="text-uppercase">300 г   59.90 лв.</p>
        </div>
    </div>
    <div class="row d-flex justify-content-center">
        <div class="col-10 pb-5 text-center">
            <h4 class="text-center quicksand-font text-uppercase">Каарпачо от Блек Ангъс</h4>
            <p class="text-uppercase">140 г   22.90 лв.</p>
        </div>
    </div>
</div>
<div class="container">
    <div class="row d-flex justify-content-center">
        <div class="col-10 pb-5 text-center">
            <h1 class="quicksand-font header text-uppercase">Топли предястия</h1>
            <hr>
        </div>
    </div>
    <div class="row d-flex justify-content-center">
        <div class="col-10 pb-5 text-center">
            <h4 class="text-center quicksand-font text-uppercase">Хрупкави картофи</h4>
            <p class="text-uppercase">230 г   16.90 лв.</p>

        </div>
    </div>
    <div class="row d-flex justify-content-center">
        <div class="col-10 pb-5 text-center">
            <h4 class="text-center quicksand-font text-uppercase">Аспержи и Салсафи</h4>
            <p class="text-uppercase">180 г   19.90 лв.</p>
        </div>
    </div>
    <div class="row d-flex justify-content-center">
        <div class="col-10 pb-5 text-center">
            <h4 class="text-center quicksand-font text-uppercase">Скариди в масло</h4>
            <p class="text-uppercase">180 г   22.90 лв.</p>
        </div>
    </div>
    <div class="row d-flex justify-content-center">
        <div class="col-10 pb-5 text-center">
            <h4 class="text-center quicksand-font text-uppercase">Октопод на скара</h4>
            <p class="text-uppercase">220 г   39.90 лв.</p>
        </div>
    </div>
    <div class="row d-flex justify-content-center">
        <div class="col-10 pb-5 text-center">
            <h4 class="text-center quicksand-font text-uppercase">Червен кралски рак</h4>
            <p class="text-uppercase">100 г   69.90 лв.</p>
        </div>
    </div>
    <div class="row d-flex justify-content-center">
        <div class="col-10 pb-5 text-center">
            <h1 class="quicksand-font header text-uppercase">Основни ястия</h1>
            <hr>
        </div>
    </div>
    <div class="row d-flex justify-content-center">
        <div class="col-10 pb-5 text-center">
            <h4 class="text-center quicksand-font text-uppercase">"The Golden Ball"</h4>
            <p>Филе от ципура, калмари и скариди в хрупкава обвивка върху сос Шардоне</p>
            <p class="text-uppercase">350 г   59.90 лв.</p>

        </div>
    </div>
    <div class="row d-flex justify-content-center">
        <div class="col-10 pb-5 text-center">
            <h4 class="text-center quicksand-font text-uppercase">Стек от целина</h4>
            <p>Бавно сготвен стек от целина, поднесен с пюре от сладък картоф, пюре от целина, трюфел майонеза</p>
            <p class="text-uppercase">330 г   26.90 лв.</p>
        </div>
    </div>
    <div class="row d-flex justify-content-center">
        <div class="col-10 pb-5 text-center">
            <h4 class="text-center quicksand-font text-uppercase">Локум от Див Лаврак</h4>
            <p>Стекчета от див лаврак на BBQ, поднесени със сотирани гъби и спанак, печен картоф с пармезан</p>
            <p class="text-uppercase">440 г   49.90 лв.</p>
        </div>
    </div>
    <div class="row d-flex justify-content-center">
        <div class="col-10 pb-5 text-center">
            <h4 class="text-center quicksand-font text-uppercase">Стек от риба тон</h4>
            <p>Стек от жълтоперест тон, поднесен с пюре от целина, гриловани тиквички и сос Шардоне</p>
            <p class="text-uppercase">380 г   49.90 лв.</p>
        </div>
    </div>
    <div class="row d-flex justify-content-center">
        <div class="col-10 pb-5 text-center">
            <h4 class="text-center quicksand-font text-uppercase">Бейти Кебап</h4>
            <p>Агнешко и телешко месо в прясно изпечен хляб, поднесено с цедено мляко с печени домат и чушка и сос доматено песто</p>
            <p class="text-uppercase">400 г  37.90 лв.</p>
        </div>
    </div>
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-10 pb-5 text-center">
                <h1 class="quicksand-font header text-uppercase">Десерти</h1>
                <hr>
            </div>
        </div>
        <div class="row d-flex justify-content-center">
            <div class="col-10 pb-5 text-center">
                <h4 class="text-center quicksand-font text-uppercase">Домашен сладолед</h4>
                <p class="text-uppercase">60 г   4.90 лв.</p>

            </div>
        </div>
        <div class="row d-flex justify-content-center">
            <div class="col-10 pb-5 text-center">
                <h4 class="text-center quicksand-font text-uppercase">Брауни с вишни и шоколад</h4>
                <p class="text-uppercase">140 г   12.90 лв.</p>
            </div>
        </div>
        <div class="row d-flex justify-content-center">
            <div class="col-10 pb-5 text-center">
                <h4 class="text-center quicksand-font text-uppercase">Млечна баклава</h4>
                <p class="text-uppercase">140 г   12.90 лв.</p>
            </div>
        </div>
        <div class="row d-flex justify-content-center">
            <div class="col-10 pb-5 text-center">
                <h4 class="text-center quicksand-font text-uppercase">Кюнефе</h4>
                <p class="text-uppercase">140 г   14.90 лв.</p>
            </div>
        </div>
        <div class="row d-flex justify-content-center">
            <div class="col-10 pb-5 text-center">
                <h4 class="text-center quicksand-font text-uppercase">Шоко Катмер</h4>
                <p class="text-uppercase">140 г   14.90 лв.</p>
            </div>
        </div>
